[submodule "link/.tmux/plugins/tpm"]
	path = link/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vendor/antigen"]
	path = vendor/antigen
	url = https://github.com/zsh-users/antigen.git
