[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "z"]
	path = vendor/z
	url = git://github.com/rupa/z.git
[submodule "vendor/volnoti"]
	path = vendor/volnoti
	url = https://github.com/stevwonder/volnoti.git
[submodule "vendor/playerctl"]
	path = vendor/playerctl
	url = https://github.com/SteVwonder/playerctl
[submodule "vendor/diff-so-fancy"]
	path = vendor/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
